<div class="product-image-holder-div">
    <img class="product-image" />
</div>
<div class="product-info-div">
    <div class="product-breadcrumbs"></div>
    <div>
        <div>
            <h2 class="product-title"></h2>
            <div class="product-subtitle"></div>
        </div>
        <div>
            <hr />
            <div class="product-description"></div>
            <div class="product-badges"></div>
        </div>
        <hr />
    </div>
    <div>
        <div class="buy-product-section">
            <div> <input type="radio" checked /> <label class="buy-once-label"></label></div>
            <div> <input type="radio" /> <label class="subscribe-label"></label></div>
            <div class="add-to-card-div">
                <div id="quantity-input">
                    <button id="decreaseQuantity">-</button>
                    <div id="quantity-value">1</div>
                    <button id="increaseQuantity">+</button>
                </div>
                <button id="add-to-cart-button">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<div class="product-detailed-description-div">
</div>