<div id="youMayAlsoLikeControls" class="carousel slide" data-bs-ride="carousel">
    <h2>YOU MAY ALSO LIKE</h2>
    <div id="carousel-inner" class="carousel-inner">
    </div>
    <button class="carousel-control-prev" type="button" id="carousel-control-prev"
        data-bs-target="#youMayAlsoLikeControls" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223" />
        </svg>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" id="carousel-control-next"
        data-bs-target="#youMayAlsoLikeControls" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671" />
        </svg>
        <span class="visually-hidden">Next</span>
    </button>
</div>